<!-- ng-show nous permet de dire que tu reste visible tant que la condition est valide tant que la variable loading est definit-->
<div ng-show="loading">Chargement...</div>

<div ng-hide="loading">
    <!-- Utilisation de la methode cree addComment au nivau du scope -->
    <form ng-submit="addComment()">
        <h3>Ajouter un commentaire</h3>
        
        <!-- directive ng-model permet de recuperer la valeur de l'input de le stocker dans une variable, et de l'afficher --> 
        <div class="form-group">
            <input class="form-control" type="text" placeholder="username" ng-model="newComment.username" required="required" />
        </div>
        
        <div class="form-group">
            <input class="form-control" type="text" placeholder="city" ng-model="newComment.city"/>
        </div>
        
        <div class="form-group">
            <input class="form-control" type="email" placeholder="email" ng-model="newComment.email" required="required" />
        </div>
        
        <div class="form-group">
            <textarea class="form-control" ng-model="newComment.content" required="required" > </textarea>
        </div>
        
        <input type="submit" value="envoyer" />
    </form>
</div>
